.section-add {
  margin: 25px;
}

.section-add__card {
  cursor: pointer;
  width: 80%;
  height: 100px;
  background: #f3f4f6;
  border: 2px dashed #4f46e5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition:
    background 0.3s,
    transform 0.2s;

  &:hover,
  &:focus {
    background: #eef2ff;
    transform: scale(1.05);
    outline: none;
  }
}

.section-add__plus {
  font-size: 32px;
  font-weight: bold;
  color: #4f46e5;
}

.section-add__text {
  margin-top: 0.3rem;
  font-weight: 600;
  color: #374151;
  text-align: center;
}

.section-add__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 25px;
  border: solid #aaa 0.5px;
  border-radius: 8px;
  box-shadow: 0 0px 101px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}

.section-add__input {
  padding: 12px;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.section-add__editor {
  border-radius: 8px;
}

.section-add__buttons {
  display: flex;
  gap: 16px;
}

.section-add__button {
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s,
    box-shadow 0.2s;

  &:hover {
    background-color: #4338ca;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.4);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(79, 70, 229, 0.4);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.4);
  }
}

.section-add__button--cancel {
  background-color: #ef4444;

  &:hover {
    background-color: #b91c1c;
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.4);
  }
}
