.class-grid {
  width: 100%;
  max-width: 1300px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;

  &__controls {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
  }
  &__search-input,
  &__sort-select {
    padding: 8px 12px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 20px;
  }

  &__show-more-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__show-more-button {
    padding: 10px 24px;
    font-size: 16px;
    background-color: #3b4bdc; /* intensywny niebieski */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(25, 118, 210, 0.4);
  }

  &__show-more-button:hover {
    background-color: #3442c2;
  }
}
