@use '../abstracts/mixins' as mixins;

.header {
  @include mixins.card-shadow;
  @include mixins.flex-c-sb;
  @include mixins.font-normal;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  padding: 0 1.5rem;
  z-index: 1000;

  background-color: white;

  border-radius: 0;

  &__logo-link {
    @include mixins.flex-c-c;
    height: 100%;
  }

  &__logo-image {
    height: 100%;
  }

  &__nav {
    @include mixins.flex-c-c;
    gap: 1.5rem;
    height: 100%;
    letter-spacing: 0.5px;
  }

  &header__link {
    color: black;

    &:visited {
      color: black;
    }
  }

  &__profile {
    @include mixins.flex-c-c;
    gap: 0.75rem;
    height: 90%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include mixins.font-normal;
  }

  &__avatar {
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
  }

  &__arrow {
    height: 13px;
    width: 13px;
    aspect-ratio: 1 / 1;
    padding-top: 3px;
    object-fit: cover;
    object-position: center;
  }

  &__dropdown {
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-bottom-left-radius: 4px;
    @include mixins.font-normal;
    letter-spacing: 0.5px;
    z-index: 999;
  }

  &__dropdown-item {
    width: 90%;
    height: 28px;
    padding: 5px 17px;
    @include mixins.flex-c-bl;
    text-decoration: none;
    color: black;
    border-radius: 13px;
    gap: 0.5rem;

    &:hover {
      background-color: #eeeeee;
    }

    &--logout {
      background-color: red;
      color: white;

      &:hover {
        background-color: darkred;
      }
      &:visited {
        color: inherit;
      }
    }
  }

  &__dropdown-icon {
    height: 100%;
  }

  &__auth {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-item {
      border: 1px solid #cccccc;
      padding: 6px 10px;
      border-radius: 8px;

      &--signup {
        background-color: #3b4bdc;
        color: white;
        text-decoration: none;

        &:hover {
          background-color: #2a3bbd;
        }
      }
    }
  }
}
